fastapi==0.116.1
uvicorn[standard]==0.35.0

sqlalchemy==2.0.41
pymysql==1.1.1
alembic==1.16.4

python-dotenv==1.1.1
pydantic==2.11.7
pydantic-settings==2.10.1

passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.5.0

python-multipart==0.0.20

transformers==4.54.1
sentence-transformers==5.0.0
torch

scikit-learn
pandas
numpy

pytest
httpx
email-validator

transformers 
datasets 
accelerate 
evaluate 
torch
faiss-cpu